* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --secondary-color: #2e80ce;
    --primary-font: Sora;
    --secondary-font: "Open Sans";
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-family: var(--primary-font, sans-serif);
}

/* COMMON */
a {
    color: var(--font-color);
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 15px 20px;
    border-radius: 99px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.icon--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}

.section__desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

/* HEADER */

.top-header {
    color: #ccc;
}

.top-header {
    position: sticky;
    top: -20px;
    z-index: 9999;
    background: var(--primary-color);
    padding: 30px 0 10px;
}

.top-header__content {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 27.18%;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    margin-left: 42px;
}

.navbar__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.navbar__link:hover {
    text-decoration: underline;
}

.navbar__item--active {
    position: relative;
    margin-left: 0;
    color: #fff;
    font-weight: 400;
}

.navbar__item--active::before {
    content: "";
    position: absolute;
    top: 10.5px;
    left: -14px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 99px;
}

.top-header__action {
    margin-left: auto;
}

.top-header__action--log-in {
    margin-right: 26px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.top-header__action--sign-up {
    padding: 8px 0;
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

/* HERO */

.hero {
    background: var(--primary-color);
    min-height: calc(100vh - 84px);
}

.hero__content {
    padding-top: calc((100vh - 89px - 540px) / 2 - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__info-block {
    width: 44.19%;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem; /* 114.286% */
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    width: 90.52%;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

.hero__action {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.hero__action--call {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__image--big {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__image--small {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}

/* SERVICES */

.services {
    padding: 170px 0;
}

.services__content {
    text-align: center;
}

.services-row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services-block {
    text-align: left;
}

.services-item {
    padding: 21px 22px 20px;
    display: flex;
    border-radius: 10px;
    gap: 19px;
    transition: 0.3s;
}

.services-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    .services-item__icon {
        color: #fff;
        background: #2e80ce;
    }
}

.services-item__icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    border-radius: 999px;
    transition: 0.3s;
}

.service-sub-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.service-desc {
    margin-top: 8px;
    max-width: 347px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.services-btn {
    margin-top: 55px;
}

/* WORK */

.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work-list {
    margin-top: 86px;
    display: flex;
    gap: 30px;
}

.work-item {
    padding: 43px 42px;
    background: #fff;
    border: 16px solid #eaf6ff;
    transition: 0.3s;
}

.work-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
    .work-item__more {
        color: #2e80ce;
    }
}

.work-item__sub-title {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem; /* 138.462% */
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

/* FEATURE */

.feature {
    padding: 170px 0 85px;
}

.section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__img {
    border-radius: 6px;
}

.feature__img--lower {
    width: 512px;
    height: 370px;
    object-fit: cover;
}

.feature__img--upper {
    margin-top: -250px;
    margin-left: 238px;
    width: 332px;
    height: 370px;
    object-fit: cover;
}

.feature-info {
    max-width: 40.17%;
}

.feature__btn {
    margin-top: 38px;
}

/* MEMBERS */

.members {
    padding: 85px 0;
}

.members__content {
    text-align: center;
}

.members__btn {
    margin-top: 38px;
}

.members-list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.members-img-bg {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    width: 270px;
    height: 318px;
    border-radius: 6px;
    background: #eaf6ff;
}

.members__img {
    transition: 0.3s;
    height: 290px;
}

.members-img-bg:hover .members__img {
    transform: scale(1.1);
}

.members__name {
    display: block;
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
}

.members__uni {
    display: block;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem; /* 185.714% */
}

.members-page-btns {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.members__page-btn {
    color: #575F66;
    width: 36px;
    height: 36px;
    background: #FFF;
    border: 1.5px solid #575F66;
    border-radius: 999px;
    transition: 0.1s;
}

.members__page-btn:hover {
    cursor: pointer;
    color: #FFF;
    width: 36px;
    height: 36px;
    background: #2E80CE;
    border: 1.5px solid #2E80CE;
    border-radius: 999px;
}

/* INSTALL */

.install {
    padding: 180px 0 85px;
}

.install__content {
    position: relative;
    padding: 75px 70px 73px;
    background: #2E80CE;
}

.install__img {
    width: 284px;
}

.install-images {
    position: absolute;
    top: -95px;
    left: 70px;
}

.install-info {
    max-width: 56.9%;
    margin-left: auto;
}

.section__desc-install{
    color: #FFF;
}

.section__title-install {
    color: #fff;
    max-width: 83.45%;
}

.install-row {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}